In [1]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns

In [2]:
data = pd.read_csv('covid_data.csv')

In [4]:
data

,iso_code,continent,location,date,total_cases,new_cases,new_cases_smoothed,total_deaths,new_deaths,new_deaths_smoothed,...,male_smokers,handwashing_facilities,hospital_beds_per_thousand,life_expectancy,human_development_index,population,excess_mortality_cumulative_absolute,excess_mortality_cumulative,excess_mortality,excess_mortality_cumulative_per_million
0,AFG,Asia,Afghanistan,2020-02-24,5.0,5.0,NaN,NaN,NaN,NaN,...,NaN,37.746,0.5,64.83,0.511,41128772.0,NaN,NaN,NaN,NaN
1,AFG,Asia,Afghanistan,2020-02-25,5.0,0.0,NaN,NaN,NaN,NaN,...,NaN,37.746,0.5,64.83,0.511,41128772.0,NaN,NaN,NaN,NaN
2,AFG,Asia,Afghanistan,2020-02-26,5.0,0.0,NaN,NaN,NaN,NaN,...,NaN,37.746,0.5,64.83,0.511,41128772.0,NaN,NaN,NaN,NaN
3,AFG,Asia,Afghanistan,2020-02-27,5.0,0.0,NaN,NaN,NaN,NaN,...,NaN,37.746,0.5,64.83,0.511,41128772.0,NaN,NaN,NaN,NaN
4,AFG,Asia,Afghanistan,2020-02-28,5.0,0.0,NaN,NaN,NaN,NaN,...,NaN,37.746,0.5,64.83,0.511,41128772.0,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
260562,ZWE,Africa,Zimbabwe,2023-02-23,263921.0,NaN,NaN,5663.0,0.0,0.143,...,30.7,36.791,1.7,61.49,0.571,16320539.0,NaN,NaN,NaN,NaN
260563,ZWE,Africa,Zimbabwe,2023-02-24,263921.0,NaN,NaN,5663.0,0.0,0.143,...,30.7,36.791,1.7,61.49,0.571,16320539.0,NaN,NaN,NaN,NaN
260564,ZWE,Africa,Zimbabwe,2023-02-25,263921.0,NaN,NaN,5663.0,0.0,0.143,...,30.7,36.791,1.7,61.49,0.571,16320539.0,NaN,NaN,NaN,NaN
260565,ZWE,Africa,Zimbabwe,2023-02-26,263921.0,NaN,NaN,5663.0,0.0,0.143,...,30.7,36.791,1.7,61.49,0.571,16320539.0,NaN,NaN,NaN,NaN
260566,ZWE,Africa,Zimbabwe,2023-02-27,263921.0,NaN,NaN,5663.0,0.0,0.143,...,30.7,36.791,1.7,61.49,0.571,16320539.0,NaN,NaN,NaN,NaN

In [10]:
data_morocco = data[data['location'] == 'Morocco']

In [11]:
data_morocco

,iso_code,continent,location,date,total_cases,new_cases,new_cases_smoothed,total_deaths,new_deaths,new_deaths_smoothed,...,male_smokers,handwashing_facilities,hospital_beds_per_thousand,life_expectancy,human_development_index,population,excess_mortality_cumulative_absolute,excess_mortality_cumulative,excess_mortality,excess_mortality_cumulative_per_million
156126,MAR,Africa,Morocco,2020-02-07,NaN,NaN,NaN,NaN,NaN,NaN,...,47.1,NaN,1.1,76.68,0.686,37457976.0,NaN,NaN,NaN,NaN
156127,MAR,Africa,Morocco,2020-02-08,NaN,NaN,NaN,NaN,NaN,NaN,...,47.1,NaN,1.1,76.68,0.686,37457976.0,NaN,NaN,NaN,NaN
156128,MAR,Africa,Morocco,2020-02-09,NaN,NaN,NaN,NaN,NaN,NaN,...,47.1,NaN,1.1,76.68,0.686,37457976.0,NaN,NaN,NaN,NaN
156129,MAR,Africa,Morocco,2020-02-10,NaN,NaN,NaN,NaN,NaN,NaN,...,47.1,NaN,1.1,76.68,0.686,37457976.0,NaN,NaN,NaN,NaN
156130,MAR,Africa,Morocco,2020-02-11,NaN,NaN,NaN,NaN,NaN,NaN,...,47.1,NaN,1.1,76.68,0.686,37457976.0,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
157238,MAR,Africa,Morocco,2023-02-23,1272418.0,7.0,8.143,16296.0,0.0,0.0,...,47.1,NaN,1.1,76.68,0.686,37457976.0,NaN,NaN,NaN,NaN
157239,MAR,Africa,Morocco,2023-02-24,1272435.0,17.0,9.857,16296.0,0.0,0.0,...,47.1,NaN,1.1,76.68,0.686,37457976.0,NaN,NaN,NaN,NaN
157240,MAR,Africa,Morocco,2023-02-25,1272442.0,7.0,10.143,16296.0,0.0,0.0,...,47.1,NaN,1.1,76.68,0.686,37457976.0,NaN,NaN,NaN,NaN
157241,MAR,Africa,Morocco,2023-02-26,1272445.0,3.0,8.857,16296.0,0.0,0.0,...,47.1,NaN,1.1,76.68,0.686,37457976.0,NaN,NaN,NaN,NaN
157242,MAR,Africa,Morocco,2023-02-27,1272446.0,1.0,8.571,16296.0,0.0,0.0,...,47.1,NaN,1.1,76.68,0.686,37457976.0,NaN,NaN,NaN,NaN

In [13]:
data_morocco['death_rate'] = data_morocco['total_deaths'] / data_morocco['total_cases']

C:\Users\Halal\AppData\Local\Temp\ipykernel_4240\151537899.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  data_morocco['death_rate'] = data_morocco['total_deaths'] / data_morocco['total_cases']

In [14]:
data_morocco.sample(10)

,iso_code,continent,location,date,total_cases,new_cases,new_cases_smoothed,total_deaths,new_deaths,new_deaths_smoothed,...,handwashing_facilities,hospital_beds_per_thousand,life_expectancy,human_development_index,population,excess_mortality_cumulative_absolute,excess_mortality_cumulative,excess_mortality,excess_mortality_cumulative_per_million,death_rate
156698,MAR,Africa,Morocco,2021-09-01,866968.0,6020.0,5404.429,12749.0,100.0,95.714,...,NaN,1.1,76.68,0.686,37457976.0,NaN,NaN,NaN,NaN,0.014705
156970,MAR,Africa,Morocco,2022-05-31,1168303.0,320.0,198.143,16076.0,0.0,0.143,...,NaN,1.1,76.68,0.686,37457976.0,NaN,NaN,NaN,NaN,0.013760
156688,MAR,Africa,Morocco,2021-08-22,810949.0,4661.0,7356.143,11792.0,115.0,110.714,...,NaN,1.1,76.68,0.686,37457976.0,NaN,NaN,NaN,NaN,0.014541
156515,MAR,Africa,Morocco,2021-03-02,484159.0,393.0,350.000,8645.0,8.0,10.143,...,NaN,1.1,76.68,0.686,37457976.0,NaN,NaN,NaN,NaN,0.017856
156172,MAR,Africa,Morocco,2020-03-24,170.0,27.0,18.857,5.0,1.0,0.429,...,NaN,1.1,76.68,0.686,37457976.0,NaN,NaN,NaN,NaN,0.029412
157059,MAR,Africa,Morocco,2022-08-28,1264316.0,30.0,47.286,16271.0,0.0,0.143,...,NaN,1.1,76.68,0.686,37457976.0,NaN,NaN,NaN,NaN,0.012869
156400,MAR,Africa,Morocco,2020-11-07,252185.0,5836.0,4728.714,4197.0,70.0,71.714,...,NaN,1.1,76.68,0.686,37457976.0,NaN,NaN,NaN,NaN,0.016643
156938,MAR,Africa,Morocco,2022-04-29,1164907.0,42.0,41.857,16069.0,0.0,0.714,...,NaN,1.1,76.68,0.686,37457976.0,NaN,NaN,NaN,NaN,0.013794
157015,MAR,Africa,Morocco,2022-07-15,1248856.0,2021.0,1497.857,16173.0,6.0,3.714,...,NaN,1.1,76.68,0.686,37457976.0,NaN,NaN,NaN,NaN,0.012950
157207,MAR,Africa,Morocco,2023-01-23,1272167.0,3.0,16.286,16296.0,0.0,0.143,...,NaN,1.1,76.68,0.686,37457976.0,NaN,NaN,NaN,NaN,0.012810

In [17]:
data_morocco['injury_rate'] = data_morocco['total_cases'] / data_morocco['population']

C:\Users\Halal\AppData\Local\Temp\ipykernel_4240\633529886.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  data_morocco['injury_rate'] = data_morocco['total_cases'] / data_morocco['population']

In [18]:
data_morocco.head(20)

,iso_code,continent,location,date,total_cases,new_cases,new_cases_smoothed,total_deaths,new_deaths,new_deaths_smoothed,...,hospital_beds_per_thousand,life_expectancy,human_development_index,population,excess_mortality_cumulative_absolute,excess_mortality_cumulative,excess_mortality,excess_mortality_cumulative_per_million,death_rate,injury_rate
156126,MAR,Africa,Morocco,2020-02-07,NaN,NaN,NaN,NaN,NaN,NaN,...,1.1,76.68,0.686,37457976.0,NaN,NaN,NaN,NaN,NaN,NaN
156127,MAR,Africa,Morocco,2020-02-08,NaN,NaN,NaN,NaN,NaN,NaN,...,1.1,76.68,0.686,37457976.0,NaN,NaN,NaN,NaN,NaN,NaN
156128,MAR,Africa,Morocco,2020-02-09,NaN,NaN,NaN,NaN,NaN,NaN,...,1.1,76.68,0.686,37457976.0,NaN,NaN,NaN,NaN,NaN,NaN
156129,MAR,Africa,Morocco,2020-02-10,NaN,NaN,NaN,NaN,NaN,NaN,...,1.1,76.68,0.686,37457976.0,NaN,NaN,NaN,NaN,NaN,NaN
156130,MAR,Africa,Morocco,2020-02-11,NaN,NaN,NaN,NaN,NaN,NaN,...,1.1,76.68,0.686,37457976.0,NaN,NaN,NaN,NaN,NaN,NaN
156131,MAR,Africa,Morocco,2020-02-12,NaN,NaN,NaN,NaN,NaN,NaN,...,1.1,76.68,0.686,37457976.0,NaN,NaN,NaN,NaN,NaN,NaN
156132,MAR,Africa,Morocco,2020-02-13,NaN,NaN,NaN,NaN,NaN,NaN,...,1.1,76.68,0.686,37457976.0,NaN,NaN,NaN,NaN,NaN,NaN
156133,MAR,Africa,Morocco,2020-02-14,NaN,NaN,NaN,NaN,NaN,NaN,...,1.1,76.68,0.686,37457976.0,NaN,NaN,NaN,NaN,NaN,NaN
156134,MAR,Africa,Morocco,2020-02-15,NaN,NaN,NaN,NaN,NaN,NaN,...,1.1,76.68,0.686,37457976.0,NaN,NaN,NaN,NaN,NaN,NaN
156135,MAR,Africa,Morocco,2020-02-16,NaN,NaN,NaN,NaN,NaN,NaN,...,1.1,76.68,0.686,37457976.0,NaN,NaN,NaN,NaN,NaN,NaN
156136,MAR,Africa,Morocco,2020-02-17,NaN,NaN,NaN,NaN,NaN,NaN,...,1.1,76.68,0.686,37457976.0,NaN,NaN,NaN,NaN,NaN,NaN
156137,MAR,Africa,Morocco,2020-02-18,NaN,NaN,NaN,NaN,NaN,NaN,...,1.1,76.68,0.686,37457976.0,NaN,NaN,NaN,NaN,NaN,NaN
156138,MAR,Africa,Morocco,2020-02-19,NaN,NaN,NaN,NaN,NaN,NaN,...,1.1,76.68,0.686,37457976.0,NaN,NaN,NaN,NaN,NaN,NaN
156139,MAR,Africa,Morocco,2020-02-20,NaN,NaN,NaN,NaN,NaN,NaN,...,1.1,76.68,0.686,37457976.0,NaN,NaN,NaN,NaN,NaN,NaN
156140,MAR,Africa,Morocco,2020-02-21,NaN,NaN,NaN,NaN,NaN,NaN,...,1.1,76.68,0.686,37457976.0,NaN,NaN,NaN,NaN,NaN,NaN
156141,MAR,Africa,Morocco,2020-02-22,NaN,NaN,NaN,NaN,NaN,NaN,...,1.1,76.68,0.686,37457976.0,NaN,NaN,NaN,NaN,NaN,NaN
156142,MAR,Africa,Morocco,2020-02-23,NaN,NaN,NaN,NaN,NaN,NaN,...,1.1,76.68,0.686,37457976.0,NaN,NaN,NaN,NaN,NaN,NaN
156143,MAR,Africa,Morocco,2020-02-24,NaN,NaN,NaN,NaN,NaN,NaN,...,1.1,76.68,0.686,37457976.0,NaN,NaN,NaN,NaN,NaN,NaN
156144,MAR,Africa,Morocco,2020-02-25,NaN,NaN,NaN,NaN,NaN,NaN,...,1.1,76.68,0.686,37457976.0,NaN,NaN,NaN,NaN,NaN,NaN
156145,MAR,Africa,Morocco,2020-02-26,NaN,NaN,NaN,NaN,NaN,NaN,...,1.1,76.68,0.686,37457976.0,NaN,NaN,NaN,NaN,NaN,NaN

In [62]:
data_morocco.sample(10)

,iso_code,continent,location,date,total_cases,new_cases,new_cases_smoothed,total_deaths,new_deaths,new_deaths_smoothed,...,hospital_beds_per_thousand,life_expectancy,human_development_index,population,excess_mortality_cumulative_absolute,excess_mortality_cumulative,excess_mortality,excess_mortality_cumulative_per_million,death_rate,injury_rate
156881,MAR,Africa,Morocco,2022-03-03,1161392.0,102.0,155.571,16006.0,4.0,7.714,...,1.1,76.68,0.686,37457976.0,NaN,NaN,NaN,NaN,0.013782,0.031005
156186,MAR,Africa,Morocco,2020-04-07,1184.0,64.0,81.000,90.0,10.0,7.714,...,1.1,76.68,0.686,37457976.0,NaN,NaN,NaN,NaN,0.076014,0.000032
156930,MAR,Africa,Morocco,2022-04-21,1164567.0,60.0,44.000,16064.0,0.0,0.429,...,1.1,76.68,0.686,37457976.0,NaN,NaN,NaN,NaN,0.013794,0.031090
156864,MAR,Africa,Morocco,2022-02-14,1155534.0,369.0,1081.429,15802.0,21.0,26.429,...,1.1,76.68,0.686,37457976.0,NaN,NaN,NaN,NaN,0.013675,0.030849
156624,MAR,Africa,Morocco,2021-06-19,526363.0,439.0,391.857,9237.0,4.0,4.286,...,1.1,76.68,0.686,37457976.0,NaN,NaN,NaN,NaN,0.017549,0.014052
156652,MAR,Africa,Morocco,2021-07-17,555488.0,2853.0,2011.857,9434.0,7.0,10.571,...,1.1,76.68,0.686,37457976.0,NaN,NaN,NaN,NaN,0.016983,0.014830
157239,MAR,Africa,Morocco,2023-02-24,1272435.0,17.0,9.857,16296.0,0.0,0.000,...,1.1,76.68,0.686,37457976.0,NaN,NaN,NaN,NaN,0.012807,0.033970
157221,MAR,Africa,Morocco,2023-02-06,1272281.0,1.0,7.429,16296.0,0.0,0.000,...,1.1,76.68,0.686,37457976.0,NaN,NaN,NaN,NaN,0.012808,0.033966
156416,MAR,Africa,Morocco,2020-11-23,327528.0,2587.0,4477.000,5396.0,80.0,78.000,...,1.1,76.68,0.686,37457976.0,NaN,NaN,NaN,NaN,0.016475,0.008744
156753,MAR,Africa,Morocco,2021-10-26,944803.0,425.0,289.143,14636.0,15.0,10.000,...,1.1,76.68,0.686,37457976.0,NaN,NaN,NaN,NaN,0.015491,0.025223

In [63]:
data_morocco.to_csv('data_morocco.csv')